listen nagios
  bind {{ ansible_local.vip_public.ip }}:{{ nagios_port }}
  balance  source
  mode  http
  option  httplog
  option  dontlog-normal
  server {{ hostvars[groups.lma[0]].ansible_hostname }} {{ hostvars[groups.lma[0]].ansible_local.vip_alerting_mgmt.ip }}:8001  check

