listen grafana
  bind {{ lma_external_vip.ip }}:{{ grafana_port }}
  balance  source
  mode  http
  option  httplog
  option  dontlog-normal
{% for entry in groups.lma %}
  server {{ hostvars[entry].ansible_hostname }} {{ hostvars[entry].internal_ip }}:8000  check
{% endfor %}
