#!/usr/bin/python

# Returns the IP address of the resource specified by the "vip" variable
# Works with MOS8 and MOS9.
# Author: Stanley Karunditu
# LICENSE: MIT

import subprocess
import json

cmd = 'pcs resource show {{ vip }}'.split()
output = subprocess.check_output(cmd)
entries = output.split('\n')
fact = {'ip': ''}
for entry in entries:
    splitentry = entry.split()
    for subentry in splitentry:
        if subentry.startswith('ip'):
            fact['ip'] = subentry.split('=')[1]
print json.dumps(fact)
