listen elasticsearch-rest
  bind {{ ansible_local.vip_public.ip }}:9200
  balance  roundrobin
  mode  http
  option  httplog
  option  http-keep-alive
  option  prefer-last-server
  option  dontlog-normal
{%  for entry in groups.lma %}
  server {{ hostvars[entry].ansible_hostname }} {{ hostvars[entry].ansible_br_mgmt.ipv4.address }}:9200 check inter 10s fastinter 2s downinter 3s rise 3 fall 3
{% endfor %}
